<!DOCTYPE html>

<!--
    nav: 
        5 menus, 1 drop down sub menu
            sub menu with contact page with forms and map
  
    self pic and 1 video
-->

<html>
    <%- include('layouts/head.ejs') %> 

    <body>
        <%- include('layouts/header.ejs) %>
        <!--the contianer holds the entire grid.  row defines the first row, pasted upon the container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 p-3 odd">
                    <img  src="img/ccna.JPG"class="img-fluid">
                    <h3>CCNA</h3>
                    <article>
                        <p>Familiarizing myself with configuring Cisco networking products
                        to earn the CCNA certification.  This will improve my networking
                        skills and widen my opportunities.</p>
                    </article>

                </div>

                <div class="col-sm-3 p-3 even">
                    <img src="img/harmony.jpg" class="img-fluid">
                    <h3>Electrician Sim</h3>
                    <article>
                        <p>Developing a simulator-style game that can teach and 
                        test the skills of the Electrical trade.  Everything from panel
                        make-up to conduit running.</p>
                    </article>
                </div>

                <div class="col-sm-3 p-3 odd">
                    <img src="img/crypt.jpg" class="img-fluid">
                    <h3>Cryptography</h3>
                    <article>
                        <p>I am reviewing the mathematical fundamentals and implementations of 
                        modern cryptosystems.
                        </p>
                    </article>

                   
                </div>

               

            </div>
        </div>


        
      
      
    
                      

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>